@import "../../../ui-kit/styling/constants";

.ManageReservations {
  display: block;
  padding: var(--var-content-padding);
  position: relative;

  &-img {
    border-radius: 6px;
  }

  &-title {
    font-size: 34px;
    font-weight: bold;
    margin-top: 16px !important;
  }

  td {
    vertical-align: middle;
  }
}