<hrm-flexbox direction="vertical" spacing="small" class="RoomDetailsView">
  <hrm-spinner-overlay
    [isLoading]="isLoadingRoomDetails || isReservingRoom"
  ></hrm-spinner-overlay>
  <div class="RoomDetailsView-title">Room {{ room?.roomNumber }}</div>
  <div class="RoomDetailsView-img">
    <div [ngStyle]="{ 'background-image': 'url(' + room?.image + ')' }"></div>
    <div [ngStyle]="{ 'background-image': 'url(' + room?.image + ')' }"></div>
    <div [ngStyle]="{ 'background-image': 'url(' + room?.image + ')' }"></div>
  </div>
  <hrm-flexbox spacing="xlarge" justify="center">
    <hrm-flexbox spacing="medium" direction="vertical" style="flex: 1">
      <div class="RoomDetailsView-subHeader">{{ room?.type }}</div>
      <p-divider></p-divider>
      <span class="RoomDetailsView-subHeader">What this room offers</span>
      <div class="RoomDetailsView-amenities">
        <hrm-flexbox spacing="small" *ngFor="let amenity of room?.amenities">
          <i [class]="AmenitiesIconMapper[amenity]"></i>
          <span>{{ amenity }}</span>
        </hrm-flexbox>
      </div>
      <p-divider></p-divider>
      <span class="RoomDetailsView-subHeader">Select available date range</span>
      <div *ngIf="room?.nextAvailableDate" class="RoomDetailsView-available">
        Available from: {{ room?.nextAvailableDate }}
      </div>
      <div *ngIf="!room?.nextAvailableDate" class="RoomDetailsView-notAvail">
        Room is fully booked
      </div>
      <hrm-reserve-calendar [inline]="true"></hrm-reserve-calendar>
    </hrm-flexbox>
    <hrm-reserve-card (reserve)="onReserve()"></hrm-reserve-card>
  </hrm-flexbox>
</hrm-flexbox>
