@import "../../../ui-kit/styling/constants";

.RoomDetailsView {
  display: block;
  position: relative;
  padding: var(--var-content-padding);

  &-title {
    font-size: 34px;
    font-weight: bold;
    margin-top: 0 !important;
  }

  &-img {
    height: 445px;
    border-radius: 6px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;

    div {
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;

      &:first-child {
        grid-row: span 2;
      }
    }
  }

  &-available {
    font-size: 12px;
    margin-top: $hrm-spacing-12px !important;
    color: $hrm-gray-color;
  }

  &-notAvail {
    font-size: 12px;
    margin-top: $hrm-spacing-12px !important;
    color: $hrm-color-error;
  }

  p-divider {
    margin-top: 0 !important;
  }

  &-subHeader {
    font-size: 20px;
    font-weight: 700;
    margin-top: $hrm-spacing-24px;

    &:not(:first-child) {
      margin-top: 0 !important;
    }
  }

  &-amenities {
    display: grid;
    gap: $hrm-spacing-24px $hrm-spacing-32px;
    grid-template-columns: max-content max-content;
  }
}