@import "../../../ui-kit/styling/constants";

.AppBar {
  height: $app-bar-height;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);

  &-rightBtn {
    margin-left: auto !important;
  }

  &-logo {
    width: 100px;
    height: auto;
  }
}

