@import "../../../ui-kit/styling/constants";

.RoomView {
  padding: var(--var-content-padding);
  min-height: $page-min-height;
  display: flex;
  position: relative;

  &-content {
    display: grid;
    grid-gap: 40px 24px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    flex: 1;
    height: max-content;
    padding-left: $hrm-spacing-24px;
  }

  &-notFoundMsg {
    justify-self: center;
    grid-column: 1/-1;
    padding-top: 40px;
  }

  &-pager {
    margin-top: auto;
    top: $hrm-spacing-4px;
    position: relative;
  }
}
