<hrm-flexbox class="RoomView" spacing="medium">
  <div class="RoomView-content">
    <p-progressSpinner *ngIf="isLoadingRooms" class="RoomView-loader"></p-progressSpinner>
    <ng-container *ngIf="!isLoadingRooms">
      <hrm-room-card *ngFor="let room of rooms" [room]="room"></hrm-room-card>
      <p-paginator class="RoomView-pager"
                   [rows]="rowsPerPage"
                   [totalRecords]="totalRooms"
                   (onPageChange)="onPaginationChange($event)">
      </p-paginator>
    </ng-container>
  </div>
</hrm-flexbox>
