<p-card class="ReserveCard">
  <hrm-flexbox spacing="medium" direction="vertical">
    <hrm-flexbox spacing="small" class="ReserveCard-price">
      <span [ngClass]="{'ReserveCard-oldPrice': reserveService.newPriceAfterDiscount}">
        ${{ reserveService.selectedRoom?.price }} night
      </span>

       <span *ngIf="reserveService.newPriceAfterDiscount">
        ${{ reserveService.newPriceAfterDiscount }} night
      </span>
    </hrm-flexbox>

    <span>Select check-in, check-out dates</span>
    <div>
      <hrm-reserve-calendar [fullWidth]="true"></hrm-reserve-calendar>
      <small class="ReserveCard-infoMessage">
        Make sure to select a date range
      </small>
    </div>
    <button
      pButton
      label="Reserve"
      (click)="reserve.emit()"
      [disabled]="!reserveService.numberOfDays"
    ></button>

    <div *ngIf="reserveService.numberOfDays" class="ReserveCard-details">
      <span style="text-decoration: underline">
        ${{ reserveService.selectedRoom?.price }} x
        {{ reserveService.numberOfDays }} nights
      </span>
      <span>${{ reserveService.totalCost }}</span>
      <p-divider></p-divider>
      <b>Total Amount:</b>
      <b>${{ reserveService.totalCost }}</b>
    </div>
  </hrm-flexbox>
</p-card>
