$app-bar-height: 85px;

/* Colors */

$hrm-color-brand-black: #0e0e0e;
$hrm-color-white: #ffffff;
$hrm-mask-color: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));

/* Spacings */

$hrm-spacing-4px: 4px;
$hrm-spacing-8px: 8px;
$hrm-spacing-12px: 12px;
$hrm-spacing-16px: 16px;
$hrm-spacing-24px: 24px;
$hrm-spacing-32px: 32px;
$hrm-spacing-40px: 40px;
$hrm-spacing-64px: 64px;

