/* You can add global styles to this file, and also import other style files */
@import 'mapbox-gl/dist/mapbox-gl.css';
@import '@fortawesome/fontawesome-free/css/all.css';

// map marker style
.Map-marker {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background: #495057;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

.Map-markerInfo {
  font-size: 14px;
  font-weight: bold;
}